.login-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.input-Field{
    width: 300px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}