.admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;    
}

.searchBar{
    margin-bottom: 20px !important;
}

.image{
    width: 100px !important;
}